@import "../../css/index.css";
.header{
    display: grid;
    grid-template-columns: repeat(6,1fr); 
  }
  
  .header__h1 {
    font-family: var(--header-font-family); 
    font-size: 3rem;
    text-decoration-line: underline; 
    text-decoration-color: var(--color_darkyellow); 
    grid-column: 2/6;
  }