.form{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    box-sizing:content-box;
    row-gap: 5px;
    margin-bottom: 25px;
    margin-top: 25PX;

} 

.form__form {
    grid-column: 2/6; 
}

.form__input--query{
    font-weight: 600;
    grid-column: 2/6;
    padding: 0.5%;
    margin-bottom: 10px;
    min-width: 98%; 
    height: 35%;
    box-sizing: content-box;
    padding-left: 2%;

}

.form__input--submit{
    background-color: black;
    color: white;
    border-radius: 0px;
    grid-column: 2/3;
    padding: 10px 10px;
    margin-top: 2px;
    text-align: center;
    font-weight: 600;
}

.form__input--submit:hover{
    cursor: pointer;
  }

.form__input--submit:active{
    transform: translateY(4px);  
  }
