.form{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    box-sizing:content-box;
    row-gap: 5px;
    margin-bottom: 25px;
    margin-top: 25PX;
} 

.form__form {
    grid-column: 2/6; 
}

.form__input--query{
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    grid-column: 2/6;
    padding: 0.5%;
    margin-bottom: 10px;
    min-inline-size: 98%; 
}

.form__input--submit{
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 0px;
    max-inline-size: 50%;
    grid-column: 2/3;
    padding: .5rem 2rem;
    margin-top: 2px;
    text-align: center;
    font-weight: 600;
}

.form__input--submit:hover{
    cursor: pointer;
  }

.form__input--submit:active{
    transform: translateY(4px);  
  }
