.header{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  
}
.header__h1 {
    font-family: Courgette; 
  font-size: 32px;
  width: 200px;
  text-decoration-line: underline; 
  text-decoration-color: yellow;
  font-style: italics;
  grid-column: 2/6;
}