.resultsTable{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 5px;
}

.resultsTable__table{
    table-layout: fixed;
    width: 100%;
}

.resultsTable__table{
    grid-column: 2/6;
} 

.resultsTable__thead{
  font-family: Lato,sans-serif;
  font-style: bold;
  
}

tr:nth-child(even), thead {background-color: #f2f2f2;}

th, td {
  text-align: center;
  font-style: normal;
  font-family: Lato,sans-serif;
  padding: .625em;
  font-size: 1rem;

}

@media screen and (max-width: 600px) {
    .resultsTable{
        display:grid;
        grid-template-columns: 1fr;
        margin-top: 5px; 
    } 
    
    .header{
      display: grid;
      grid-template-columns: 1fr;
      
    }

    .header__h1 {
      grid-column: 1;
    }

    .form{
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 32px;
      row-gap: 5px;
    }

    .form__form {
      grid-column: 1;
    }

    .form__input--query{
      grid-column: 1;
    }

    .form__input--submit{  
    grid-column: 1;
    }

    .resultsTable__table {
        border: 0;
    }
    
    .resultsTable__table caption {
        font-size: 1.3em;
    }
      
    .resultsTable__thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      .resultsTable__table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      .resultsTable__table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        
      }
      
      .resultsTable__table td::before {
       
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .resultsTable__table td:last-child {
        border-bottom: 0;
      }
}
